{
	email info@watchit.movie
}



(logging) {
	log {
		output file /var/log/caddy.log
		format json
	}
}


gw.watchit.movie /ipfs/* {
    reverse_proxy  http://locahost:8080/
    import logging
    encode gzip


    
}