# On Cloudflare, go to Crypto -> SSL and set it to Full or Full(strict)
{
	email info@watchit.movie
    debug
}


gw.watchit.movie {
    tls /etc/caddy/cert.pem /etc/caddy/key.pem
    reverse_proxy :8080   
    
}