{
	email info@watchit.movie
}



(logging) {
	log {
		output file /var/log/caddy.log
		format json
	}
}


gw.watchit.movie {
    reverse_proxy /ipfs/* http://locahost:8080
    import logging
    encode gzip
    header /ipfs/* {
        Access-Control-Allow-Origin "app.watchit.movie"
		Access-Control-Request-Method GET
	}

    
}